<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="../images/logo.svg"
                 alt="logo">
        </div>
        <nav class="header__nav">
            <ul class="header__nav-menu">
                <li class="header__nav-menu-item">
                    <a href="#"
                       class="header__nav-menu-item-link">Features</a>
                </li>
                <li class="header__nav-menu-item">
                    <a href="#"
                       class="header__nav-menu-item-link">Pricing</a>
                </li>
                <li class="header__nav-menu-item">
                    <a href="#"
                       class="header__nav-menu-item-link">Blog</a>
                </li>
                <li class="header__nav-menu-item">
                    <a href="#"
                       class="header__nav-menu-item-link">Docs</a>
                </li>
                <li class="header__nav-menu-item">
                    <a href="#"
                       class="header__nav-menu-item-link">Changelog</a>
                </li>
                <li class="header__nav-menu-item">
                    <a href="#"
                       class="header__nav-menu-item-link">We're hiring</a>
                </li>
            </ul>
        </nav>
        <div class="header__btn">Login</div>
    </div>
</header>