<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__info">
                <div class="hero__info-text">
                    <h1 class="hero__info-text-title">Always <br /> Ready to Code.</h1>
                    <p class="hero__info-text-descr">Spin up fresh, automated dev environments for each task, in the
                        cloud, in seconds.</p>
                </div>
                <div class="hero__info-action">
                    <div class="hero__info-action-btn">Try Now</div>
                    <p class="hero__info-action-descr">Open a workspace. <br /> Start from any Git context.</p>
                </div>
                <div class="hero__info-company">
                    <div class="hero__info-company-logo gitlab"></div>
                    <div class="hero__info-company-logo github"></div>
                    <div class="hero__info-company-logo gitbucket"></div>
                </div>
            </div>
            <div class="hero__img">
                <img src="./test/images/hero-bg.webp"
                     alt="hero bg">
            </div>
        </div>
    </div>
</section>